
@font-face {
	font-family: manifesto;
	src: url(MANIFESTO.ttf);
}

html, body {
height:100%;
color: #eee;
text-align: center;
}
body {
	font-size: 62.5%;
}
* {
	margin: 0;
	padding: 0;
}
section {
	position: relative;
	height: 100%;
}
.container {
	position: relative;
	padding-top: 10em;
	margin: 0 auto;
}

.group:before, .group:after {
	content: "";
	display: table;
}
.group:after {
	clear: both;
}

#header {
	background: linear-gradient(to bottom, rgba(92, 86, 84, 0.4) , rgba(92, 86, 84, 1)), url(../practice/img/home.jpeg) no-repeat center center;
	background-size: cover; 
	background-attachment: fixed;

}
#header .container {
	padding-top: 25em;
}
h1 {
	font: bold 7em manifesto, "Lato", sans-serif;
	color: #fff;
}

h3 {
	font:  4em Lato, sans-serif;
	/*margin: 0.5em  auto 2em;*/
	margin-bottom: 1.5em;
}

p {
	font: 2em/1.5 "Josefin Sans", sans-serif;
}

nav ul {
	list-style: none;
	width: 100%;
	padding: 0;

}

nav li {
	display: inline-block;
	/*margin: 0 auto;*/
}

nav a {
	font: 1.8em Inconsolata;
	color:   #29282a;
	text-decoration: none;
	border: 2px solid #29282a;
	background-color: #617269;
	padding: 0.5em 1em;
	margin: 0.4em;
	transition: all 0.5s;
}
nav a:hover {
	background-color: #29282a;
	border: 2px solid #6d3d2e;
	color: #6d3d2e;
}

#portfolio {
	background:#817571;
	height: auto;
}

#portfolio .portfolio-list .portfolio-item {
	width: 28%;
	height: 250px;
	margin: 1.5%;
	display: inline-block;
	background-color: black;
	border: 1px solid black;
}
#portfolio img {
	width: 100%;
	height: 250px;
}

.portfolio-list {
	width: 90%;
	margin: 0 auto;
	padding: 0 2em 3em;

}
#about {
	background: linear-gradient(to bottom, rgba(255,255,255, 0.8) , rgba(163, 144, 138, 0.4)), url(../practice/img/about.jpeg) no-repeat center center;
	background-size: cover;
	border: 1px solid rgb(163,144,138);
	padding-bottom: 8em;
	background-attachment: fixed;
	height: auto;
	padding-bottom: 15em;
}

.bio {
	width: 70%;
	margin: 0 auto;
}

#about  p {
	text-align: left;
	color: #292b2a;
}
#about h3 {
	color: #292b2a;
}

.profile-photo {
	display: inline-block;
	max-width: 250px;
	border-radius: 15%;
	opacity: 0.8;
	box-shadow: 10px 5px 5px #817571;
	float: right;
	margin: 0 0 1.5em 1.5em;
}

#contact {
	background:#3d3b3a;
	padding-bottom: 5em;
}

h4 {
	font: 3em Lato, sans-serif;
}
#contact ul {
	margin: 1em auto;
	list-style: none;
}
#contact ul li {
	margin: 0 auto;
	transition:  all 0.5s;
	border-radius: 100%;
	border: 5px solid #3d3b3a;
	display: table;
}
#contact .btn-social {
	display:inline-block;
	width: 60px;
	height: 60px;
	border-radius:100%;
	border: 2px solid #6d3d2e;
	background-color: #6d3d2e;
	text-align:center;
	font-size: 4em;
	font-weight:900;
	line-height:60px;
	color: #ddd;
	margin: 0.1em;
}

#contact a {
	transition: all 0.5s;
	color: #ddd;
	text-decoration: none;
	border-bottom: 2px solid #6d3d2e;
}
#contact a:hover {
	background-color: #292b2a;
	color: #617269;
}
#contact ul li:hover{
	border: 5px solid #292b2a;
}

.social-media {
	width: 35%;
	float: left;
	padding: 0 auto;
	margin-right: 10%;
}
.connect-email {
	width: 45%;
	text-align: left;
}

#contact .container {
	margin: 0 auto;
	width: 80%;
}
.email p {
	margin: 0 auto;
	text-align: left;
}
footer {
	position: absolute;
	height: 50px;
	bottom: 0px;
	right: 0px;
	left: 0px;
	text-align: center;
	background-color: #6d3d2a;
	color: #a3908a;
	padding-top: 20px;
}
footer p {
	font-size: 1.2em;
}
#contact .container {
	padding-bottom: 5em;
}
