
@font-face {
	font-family: manifesto;
	src: url(MANIFESTO.ttf);
}

html, body {
height:100%;
color: #292b2a;
text-align: center;
}
body {
	font-size: 62.5%;
}
* {
	margin: 0;
	padding: 0;
}
section {
	position: relative;
	height: 100%;
	overflow: hidden;
}
.container {
	position: relative;
	padding-top: 10em;
	margin: 0 auto;
}

.group:before, .group:after {
	content: "";
	display: table;
}
.group:after {
	clear: both;
}

#headerSection {
	background: linear-gradient(to bottom, rgba(163, 144, 138, 0.2) , rgba(163, 144, 138, 0.5)), url(../portfolio/img/home.jpeg) no-repeat center center;
	background-size: cover; 
	background-attachment: fixed;

}
#headerSection .container {
	padding-top: 25em;
}
h1 {
	font: bold 7em manifesto, "Lato", sans-serif;
}

h3 {
	font:  4em Lato, sans-serif;
	/*margin: 0.5em  auto 2em;*/
	margin-bottom: 1.5em;
}

p {
	font: 2em/1.5 "Josefin Sans", sans-serif;
}

nav ul {
	list-style: none;
	width: 100%;
	padding: 0;
}

nav li {
	display: inline-block;
}

nav a {
	font: 1.8em Inconsolata;
	color:   #29282a;
	text-decoration: none;
	border: 2px solid #29282a;
	background-color: #617269;
	padding: 0.5em 1em;
	margin: 0.4em;
	transition: all 0.5s;
	outline: none;
}
nav a:hover {
	background-color: #29282a;
	border: 2px solid #6d3d2e;
	color: #6d3d2e;
}
.fixedTop {
	position: fixed;
	background:rgba(109,61,46, 0.8);
	top: 0;
	height: 5em;
	padding-top: 2em;
	z-index: 2;	
}


#portfolioSection {
	background: linear-gradient(to bottom, rgba(163,144,138, 1) , rgba(163, 144, 138, 0.4)), url(../portfolio/img/portfolio.jpeg) no-repeat center center;
	background-size: cover;
	height: auto;
}

 .portfolio-item {
	width: 28%;
	height: 250px;
	margin: 1.5%;
	display: inline-block;
	background-color: #6d3d2e;
	border: 6px solid #6d3d2e;
	box-shadow: 5px 5px 5px #817571;
	border-radius: 3px;
	position: relative;
	overflow: hidden;
}
#portfolioSection img {
	width: 100%;
	height: 100%;
}	
.portfolio-item div {
	position: absolute;
	height: 100%;
	transition: all 0.5s;
}

.portfolio-list {
	width: 90%;
	margin: 0 auto;
	/*padding: 0 2em 3em; */
	padding-bottom: 5em;
}
.portfolio-item p:hover {
	background: #292b2a;
	opacity: 0.95;
	color: #bd8d7e;
}
.portfolio-item p {
	position: absolute;
	width: 100%;
	height: 150px;
	background: rgb(97,114,105);
	transition: all 0.5s;
	padding-top: 100px;
	opacity: 0;
	top: 0;
	z-index: 1;
}

#aboutSection {
	
	border: 1px solid rgb(163,144,138);
	background: rgba(129,117,118, 0.5);
	padding-bottom: 8em;
	background-attachment: fixed;
	height: auto;
	padding-bottom: 15em;
}

.bio {
	width: 70%;
	margin: 0 auto;
}

#aboutSection  p {
	text-align: left;
	color: #292b2a;
}
#aboutSection h3 {
	color: #292b2a;
}

.profile-photo {
	display: inline-block;
	max-width: 250px;
	border-radius: 15%;
	opacity: 0.8;
	box-shadow: 10px 5px 5px #817571;
	float: right;
	margin: 0 0 1.5em 1.5em;
}

#contactSection {
	padding-bottom: 5em;
	background:rgba(109,61,46, 0.4);
}

h4 {
	font: 3em Lato, sans-serif;
}
#contactSection ul {
	margin: 1em auto;
	list-style: none;
}
#contactSection ul li {
	margin: 0 auto;
	transition:  all 0.5s;
	border-radius: 100%;
	border: 5px solid rgba(109,61,45, 0);
	display: table;
}
#contactSection .btn-social {
	display:inline-block;
	width: 60px;
	height: 60px;
	border-radius:100%;
	border: 2px solid #6d3d2e;
	background-color: #6d3d2e;
	text-align:center;
	font-size: 4em;
	font-weight:900;
	line-height:60px;
	color: #ddd;
	margin: 0.1em;
}

#contactSection a {
	transition: all 0.5s;
	color: #ddd;
	text-decoration: none;
	border-bottom: 2px solid #6d3d2e;
}
#contactSection a:hover {
	background-color: #292b2a; 
	color:  #6d3d2e;
}
#contactSection ul li:hover{
	border: 5px solid #6d3d2e;
}

.social-media {
	width: 35%;
	float: left;
	padding: 0 auto;
	margin-right: 10%;
}


#contactSection .container {
	margin: 0 auto;
	width: 80%;
}
.contact-email p {
	margin: 1.5em auto;
	text-align: justify;
}
footer {
	position: absolute;
	height: 40px;
	bottom: 0px;
	width: 100%;
	text-align: center;
	background-color: #6d3d2a;
	color: #a3908a;
	padding-top: 20px;
}
footer p {
	font-size: 1.2em;
}

@media screen and (max-width: 650px) {
	h1 {
		font-size: 3.5em;
	}

	h3 {
		font-size: 2.5em;
	}
	p {
		font-size: 1.5em;
	}
	nav ul {
		position: fixed;
		background:rgba(109,61,46, 0.8);
		top: 0;
		height: 5em;
		padding-top: 2em;
		z-index: 2;
	}
	nav a {
		font-size: 1.4em;
	}

	.portfolio-item {
		width: 80%;
		margin-bottom: 1.5em;
	}
	.social-media {
		width: 90%;
		margin: 0 auto 2em;
		float: none;
	}
	#headerSection .container {
		padding-top: 15em;
	}
	#contactSection .btn-social {
		width: 30px;
		height: 30px;
		font-size: 2em;
		font-weight:900;
		line-height: 30px;
		color: #ddd;
		margin: 0.1em;
	}
	#contactSection ul li {
		display: inline-block;
	}
	.contact-email {
		width: 90%;
		margin: 0 auto 5em;
	}
	#contactSection {
		height: auto;
	}
	h4 {
	 font-size: 2em;
	}
	.profile-photo {
		float: none;
		margin: 0 auto 1.5em;
		height: 150px;
		width: 150px;
	}
	.bio {
		width: 80%;
	}
}